$main-font: 'Fira Sans', sans-serif;
$grey: #343a40;
$border-radius: 4px;
$header-height: 80px;
$footer-height: 144px;

$collapse-breakpoint: 670px;

$breakpoint-small: 700px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1400px;